.mainButtons{
    width: 70%;
    height: 300px;
    border: 10px solid black;
    background-color: #AAAAAA;
    margin: 20px;
    position: relative;
    transition: 0.4s;
}

.mainButtons:hover{
    width: 70%;
    height: 300px;
    border: 10px solid black;
    background-color: #888;
    margin: 20px;
    position: relative;
}

.mainButtonImage{
    padding: 4px;
    height: 100%;
    position: absolute;
    left: -4px;
    top: -4px;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blackText{
    color: black;
}

.backButton{
    height: 40px;
    width: 150px;
    border-radius: 10%;
    border: 4px solid black;
    background-color: #00f;
    transition: 0.4s;
    color: black;
    font-size: xx-large;
}

.backButton:hover{
    background-color: #00a;
}

.fact{
    font-size: xxx-large;
}

.levelName{
    font-size: 96px;
    text-decoration: none;
}

nav {
    border-bottom: 2px solid black;
    font-size: 32px;
}

.nav ol {
    list-style-type: none;
    padding-left: 0;
}

.navSec {
    display: inline-block;
}

.navSec a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
